In [1]:
import requests
import json
import pandas as pd
import numpy as n
from alpha_vantage.timeseries import TimeSeries
import os
from dotenv import load_dotenv
import time

In [2]:
API_KEY=None
with open(".env.txt") as f:
    for line in f:
        if line.startswith("API_KEY"):
            API_KEY=line.strip().split("=")[1]
            break
print(API_KEY)

OGLHOIQJG5P5TBWV

In [99]:
# ts=TimeSeries(key=API_KEY,output_format="pandas")
# data,_=ts.get_daily(symbol="MSFT",outputsize="full")
# data.shape

In [ ]:
all_data=[]
stocks=["ADANIENT.BSE","BAJFINANCE.BSE","APOLLOHOSP.BSE","ASIANPAINT.BSE","RELIANCE.BSE","BPCL.BSE","KOTAKBANK.BSE","TITAN.BSE"]
ts=TimeSeries(key=API_KEY,output_format="pandas")

for stock in stocks:
    data,_ = ts.get_daily(symbol=stock,outputsize="full")
    data.reset_index(inplace=True)
    data["symbol"]=stock
    all_data.append(data)
    print(f"appended stock:{stock}")
    time.sleep(15)
    
nifty_df=pd.concat(all_data,ignore_index=True)
nifty_df.to_csv("data.csv",index=False)

appended stock:ADANIENT.BSE
appended stock:BAJFINANCE.BSE
appended stock:APOLLOHOSP.BSE
appended stock:ASIANPAINT.BSE
appended stock:RELIANCE.BSE
appended stock:BPCL.BSE
appended stock:KOTAKBANK.BSE
appended stock:TITAN.BSE

In [102]:
nifty_df.shape

(40953, 7)

In [103]:
nifty_df.sample(7)

,date,1. open,2. high,3. low,4. close,5. volume,symbol
24838,2008-01-17,2811.8724,2846.1002,2698.3096,2716.6702,12499751.0,RELIANCE.BSE
6872,2018-08-29,2931.0000,2993.0000,2931.0000,2984.0500,573190.0,BAJFINANCE.BSE
28778,2012-11-02,338.1000,342.1500,335.0500,336.4000,209448.0,BPCL.BSE
14268,2009-06-05,513.0000,515.0000,496.0000,501.7000,25852.0,APOLLOHOSP.BSE
9908,2006-05-04,500.0000,535.0000,500.0000,525.0500,770398.0,BAJFINANCE.BSE
8983,2010-02-08,310.0000,310.0000,290.1000,292.2500,361103.0,BAJFINANCE.BSE
23931,2011-09-26,698.6048,700.3274,678.6576,688.3590,4567687.0,RELIANCE.BSE

In [3]:


ts=TimeSeries(key=API_KEY,output_format="pandas")

s=[   "BHARTIARTL.BSE","BRITANNIA.BSE", "CIPLA.BSE", "COALINDIA.BSE", "DIVISLAB.BSE", "DRREDDY.BSE",
    "HCLTECH.BSE","HEROMOTOCO.BSE","ITC.BSE","WIPRO.BSE"
]
other_data=[]
for stock in s:
    data,_=ts.get_daily(symbol=stock,outputsize='full')
    data.reset_index(inplace=True)
    data["symbol"]=stock
    other_data.append(data)
    print(f"appended stock:{stock}")
    time.sleep(15)

other_df=pd.concat(other_data,ignore_index=False)

appended stock:BHARTIARTL.BSE
appended stock:BRITANNIA.BSE
appended stock:CIPLA.BSE
appended stock:COALINDIA.BSE
appended stock:DIVISLAB.BSE
appended stock:DRREDDY.BSE
appended stock:HCLTECH.BSE
appended stock:HEROMOTOCO.BSE
appended stock:ITC.BSE
appended stock:WIPRO.BSE

In [4]:
other_df.shape

(49786, 7)

In [8]:
nif_df=pd.read_csv('data.csv')
print(nif_df.shape)

(40953, 7)

In [9]:
df=pd.concat([nif_df,other_df],ignore_index=True)

In [10]:
df.shape

(90739, 7)

In [11]:
df.sample(5)

,date,1. open,2. high,3. low,4. close,5. volume,symbol
65474,2024-05-07 00:00:00,6324.0001,6348.0001,6200.0501,6259.1501,59050.0,DRREDDY.BSE
52535,2020-05-13 00:00:00,603.5000,603.5000,569.1000,570.2000,343320.0,CIPLA.BSE
47969,2018-02-01 00:00:00,4700.0000,4753.9000,4655.2500,4741.3500,8072.0,BRITANNIA.BSE
49012,2013-11-01 00:00:00,945.8500,956.0000,935.0000,936.6000,14618.0,BRITANNIA.BSE
67666,2015-06-11 00:00:00,3389.0001,3389.0001,3301.0500,3316.5000,190985.0,DRREDDY.BSE

In [12]:
df.sort_values(['symbol','date'],inplace=True)

In [14]:
df.to_csv('final_data.csv')

In [18]:
df['symbol'].value_counts()

symbol
WIPRO.BSE         5142
CIPLA.BSE         5122
DRREDDY.BSE       5122
KOTAKBANK.BSE     5121
DIVISLAB.BSE      5121
BHARTIARTL.BSE    5120
APOLLOHOSP.BSE    5120
HCLTECH.BSE       5120
HEROMOTOCO.BSE    5120
ITC.BSE           5120
BPCL.BSE          5119
BRITANNIA.BSE     5119
RELIANCE.BSE      5119
TITAN.BSE         5119
ADANIENT.BSE      5119
BAJFINANCE.BSE    5118
ASIANPAINT.BSE    5118
COALINDIA.BSE     3680
Name: count, dtype: int64